# Dependencies
node_modules/
package-lock.json

# Environment Variables & Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Operating System
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
npm-debug.log*
