rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} {
      // Anyone can view products catalog
      allow read: if true;
      // Allow catalog management for products
      allow write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
